{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}

 <!-- page -->
 <div id="page" class="hfeed site">
        
    <!-- header -->
    <header id="masthead" class="site-header" role="banner">
             
            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                
                <a class="menu-toggle"><span class="lines"></span></a>
                
                <!-- nav-menu -->
                <div class="nav-menu">
                    <ul>
                        <li><a href="#">Home</a>
                            <!-- level 2 -->
                        </li>
                        <li><a href="{% url 'blog-page'%}">Blogs</a>
                        <li><a href="{% url 'portfolio-page' %}">Portfolio</a></li>
                        <li><a href="{% url 'books-page'%}">Books</a></li>
                        <li><a href="{% url 'gallery-page'%}">Gallery</a></li>
                        <li><a href="{% url 'about-page'%}">About Me</a>
                            <!-- level 2 -->
                                    
                        <li><a href="{% url 'contact-page'%}">Contact</a></li>
                    </ul>
                </div>
                <!-- nav-menu -->
                
                <a class="search-toggle toggle-link"></a>
                                    
                <!-- search-container -->
                <div class="search-container">
                    
                    <div class="search-box">
                        <form role="search" method="get" class="search-form" action="#">
                            <label>Search for
                                <input type="search" id="search-field" placeholder="type and hit enter" name="s">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div>
                
                </div>
                <!-- search-container -->
                
                <!-- social-container -->
                <div class="social-container">
                    
                    <ul class="social">
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="vine" href="#"></a></li>
                        <li><a class="dribbble" href="#"></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/norbek._off/"></a></li>
                        <li><a href="https://github.com/Norbek07"><ion-icon name="logo-github"></ion-icon></a></li>
                    </ul>
                  
                    
                </div>
                <!-- social-container -->
                
            </nav>
            <!-- site-navigation -->
                       
            <!-- site-title -->
            <h1 class="site-title">
                <a href="{% url 'home-page'%}" rel="home">
                    <img src="{% static 'images/site/logo.png'%}" alt="logo">
                    <!--EDITOR-->
                </a>
            </h1>
            <!-- site-title -->
            
            
            <!--<h1 class="site-title">
                <a href="../index.html" rel="home">
                    EDITOR
                </a>
            </h1>
            <p class="site-description">just another minimalist theme.</p>-->

            
    </header>
        <!-- site-main -->
        <div id="main" class="site-main">
        
        
        	            
            <!-- primary -->
        	<div id="primary" class="content-area">
            	
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                
                
                
				
				
					<!-- InstanceBeginEditable name="FeaturedContent" -->
					
                    
                    
                    <!-- post-slider -->
                    <!--<div class="post-slider owl-carousel" data-items="3" data-loop="false" data-center="false" data-mouse-drag="true" data-nav="false" data-dots="false" data-autoplay="true" data-autoplay-speed="600" data-autoplay-timeout="2000">-->
                    <div class="post-slider owl-carousel" data-items="3" data-loop="true" data-dots="false" data-nav="true" data-nav-prev-text="prev" data-nav-next-text="next">
                    	
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(https://learnersgalaxy.ai/wp-content/uploads/2024/01/Python-Symbol.png)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">TRAVEL</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page'%}">There's always light at the end of the tunnel</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->    
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(https://jbstechinfo.com/wp-content/uploads/2023/08/JavaScript-Symbol.png)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Life</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page'%}">The Life of Stuff</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        
                        <!-- post -->
                    	<!-- <div class="post-thumbnail" class="tdStyle"> -->
                            <div class="post-thumbnail" style="background-image:url(https://sandaacademy.com/wp-content/uploads/2023/02/Java-Logo.png)">

                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Nature</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page'%}">Cuckoo Events</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-FMOSFbVDTAgCh1QVnWbHEbXu63gTrnMnjQ&s)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">

                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Life</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page'%}">Stay Calm And Surf</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                        
                        <!-- post -->
                    	<div class="post-thumbnail" style="background-image:url(https://media.licdn.com/dms/image/D4D12AQH0aFMY6G2rHQ/article-cover_image-shrink_720_1280/0/1689263376287?e=2147483647&v=beta&t=X4o6_ZtUzTQ_OTBzY8dYJkOzQg0m0Pk4sCzeB-rX_gE)">
                                
                            <!-- .entry-header -->
                            <header class="entry-header">
                                
                                <!-- .entry-meta -->
                                <div class="entry-meta">
                                    <span class="cat-links">
                                        <a href="#" rel="category tag">Fashion</a>
                                    </span>	
                                </div>
                                <!-- .entry-meta -->
                                
                                <!-- .entry-title -->
                                <h1 class="entry-title"><a href="{% url 'blog-page'%}">Becoming a Dragonfly</a></h1>
                            </header>
                            <!-- .entry-header -->
                            
                        </div>
                        <!-- post -->  
                            
                    </div>
                    <!-- post-slider -->
                    
                    
                    
					
					<!-- InstanceEndEditable -->
                	
                    
                    
                    <!-- layout-fixed -->
                	<div class="layout-fixed">
                    
                    
                    
						<!-- InstanceBeginEditable name="LayoutFixedContent" -->
                
                	
                        <!-- blog-regular -->
                        <div class="blog-regular">
                    	
                        
                        	
                            <!-- .hentry -->
                            <article class="hentry post">
                            
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    
                                    {% for blogs in blogs%}
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="{% url 'blog-page'%}">{{ blogs.title }}</a></h1>
                                    
                                    
                                    
                                </header>
                                <!-- .entry-header -->
                                
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="{% url 'blog-page'%}">
                                    	<img src="{{blogs.image.url}}" alt="blog-image">
                                    </a>
                                </div>
                                <!-- .featured-image -->
                                
                                <!-- .entry-content -->
                                <div class="entry-content">
                                	
                                    <p>We circled for some time without doing much damage on either side; the long, straight, needle-like swords flashing in the sunlight, and ringing out upon the stillness as they crashed together with each effective parry.  </p>                                  
                                	<p>I was only partially successful, as a sharp pain in my left shoulder attested, but in the sweep of my glance as I sought to again locate my adversary, a sight met my astonished gaze which paid me well for the wound the temporary blindness had caused me. 
                                        <span class="more">
                                            <a href="{% url 'blog-page'%}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                                        </span>
                                    </p>
                                   
                                </div>
                                <!-- .entry-content -->
                                {% endfor %}
                            </article>
                            <!-- .hentry -->
                            
                            
                            
                            <!-- .hentry -->
                            <article class="hentry post sticky">

                                
                            <!-- .hentry -->
                            <article class="hentry post format-quote">
                            
                                <header class="entry-header">
                                    
                                    <h1 class="entry-title"><a href="{% url 'blog-page'%}">Post Format Quote</a></h1>
                                    
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span> 
                                        <span class="comment-link">
                                            124 Comments
                                        </span>
                                        <span class="read-time"><span class="eta"></span> read</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Quote" rel="category tag">Quote</a>
                                        </span>	
                                    </div>
                                    
                                </header>
                                
                                <div class="entry-content">
                                    
                                    <blockquote>A problem is a chance for you to do your best.
                                        <cite>Duke Ellington</cite>
                                    </blockquote>
                                    
                                </div>
                                
                            </article>
                            <!-- .hentry -->
                            
                            
                            <!-- post nav -->
                            <nav class="navigation" role="navigation">
                                <div class="nav-previous"><a href="#"><span class="meta-nav">←</span> Older posts</a></div>
                                <!--<div class="nav-next"><a href="#">Newer posts <span class="meta-nav">→</span></a></div>-->
                            </nav>
                            <!-- post nav -->
                            
                            
                            
                        </div>
                        <!-- blog-regular -->
                    
                    
                
                		<!-- InstanceEndEditable -->
                    	
                        
                    	
                    </div>
                    <!-- layout-fixed -->
                
                
                	
                
                </div>
                <!-- site-content -->
                
            </div>
            <!-- primary -->    
        
        
        
        
        </div>
        <!-- site-main -->
        
        
        {% endblock content %}
